API_URL=http://localhost:8000/api
NEXT_PUBLIC_APP_URL=localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_CACHE_REVALIDATE=60
STORAGE_PROVIDER=minio
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/YOUR_IMAGEKIT_ID
IMAGEKIT_PUBLIC_KEY=YOUR_IMAGEKIT_PUBLIC_KEY
IMAGEKIT_PRIVATE_KEY=YOUR_IMAGEKIT_PRIVATE_KEY
NEXT_IMAGE_REMOTE_HOSTS=http://s3.minio.localhost,https://ik.imagekit.io

MINIO_ENDPOINT=http://localhost:9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=app-comuna
MINIO_REGION=us-east-1
