@use 'sass:list';
@use 'sass:map';
@use 'variables' as vars;
@mixin font-size($size) {
  $values: map.get(vars.$font-sizes, $size);
  font-size: list.nth($values, 1);
  line-height: list.nth($values, 2);
}

@mixin custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: vars.$editor-scrollbar transparent;
}
